<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.tier5.u_rang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Dashboard" />
        <activity
            android:name=".History"
            android:label="Tier5 Portal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Faq"
            android:label="@string/title_activity_faq"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.tier5.u_rang.Dashboard" />
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.tier5.u_rang.Dashboard" />
        </activity>
        <activity
            android:name=".Prices"
            android:label="@string/title_activity_prices"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.tier5.u_rang.Dashboard" />
        </activity>
        <activity
            android:name=".Neighborhood"
            android:label="@string/title_activity_neighborhood"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.tier5.u_rang.Dashboard" />
        </activity>
        <activity
            android:name=".DashboardNew"
            android:label="@string/title_activity_dashboard_new"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cooltechworks.creditcarddesign.CardEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PickupRequest"
            android:label="@string/title_activity_pickup_request"
            android:parentActivityName=".DashboardNew"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.tier5.u_rang.DashboardNew" />
        </activity>
    </application>

</manifest>